
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">My Favorite Shows & Movies</h1>
            <p class="lead">Here are some of my all-time favorite shows and movies that I love to watch!</p>
            <hr class="my-4">
            
            <h2>Favorite TV Shows</h2>
            <div class="row">
                <!-- Show 1 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <%= image_tag "Criminal_Minds.jpg", class: "card-img-top", alt: "Criminal Minds" %>
                        <div class="card-body">
                            <h5 class="card-title">Criminal Minds</h5>
                            <p class="card-text">An elite squad of FBI profilers analyzes the country's most-twisted criminal minds, anticipating the perpetrators' next moves before they can strike again.</p>
                        </div>
                    </div>
                </div>

                <!-- Show 2 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <%= image_tag "Vincenzo.jpg", class: "card-img-top", alt: "Vincenzo" %>
                        <div class="card-body">
                            <h5 class="card-title">Vincenzo</h5>
                            <p class="card-text">During a visit to his motherland, a Korean-Italian mafia lawyer gives a conglomerate a taste of its own medicine with a side of justice..</p>
                        </div>
                    </div>
                </div>

                <!-- Show 3 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                      <%= image_tag "Arcane.jpg", class: "card-img-top", alt: "Arcane" %>
                        <div class="card-body">
                            <h5 class="card-title">Arcane - League of Legends</h5>
                            <p class="card-text">The origins of two iconic League champions, set in the utopian Piltover and the oppressed underground of Zaun.</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mt-4">Favorite Movies</h2>
            <div class="row">
                <!-- Movie 1 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                      <%= image_tag "Rush_Hour.jpg", class: "card-img-top", alt: "Rush_Hour" %>
                        <div class="card-body">
                            <h5 class="card-title">Rush Hour</h5>
                            <p class="card-text">When a diplomat's daughter is kidnapped, Hong Kong Detective Lee (Jackie Chan) teams up with wisecracking LAPD Detective Carter (Chris Tucker) in a hilarious and action-packed partnership. </p>
                        </div>
                    </div>
                </div>

                <!-- Movie 2 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                      <%= image_tag "Ballerina.jpg", class: "card-img-top", alt: "Ballerina" %>
                        <div class="card-body">
                            <h5 class="card-title">Ballerina</h5>
                            <p class="card-text">Grieving the loss of a best friend she could not protect, former bodyguard Ok-ju sets out to fulfil her dear friend's last wish: sweet, sweet revenge.</p>
                        </div>
                    </div>
                </div>

                <!-- Movie 3 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                      <%= image_tag "Joker.jpg", class: "card-img-top", alt: "Joker" %>
                        <div class="card-body">
                            <h5 class="card-title">Joker</h5>
                            <p class="card-text">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Did You Know Section -->
            <div class="alert alert-info mt-4 text-center">
                <h4 class="alert-heading"><i class="fas fa-lightbulb"></i> Did You Know?</h4>
                <p>I’ve watched <strong>Criminal Minds</strong> so many times, I could probably get away with it... <em>jkjkjk</em>... or am I? 😏</p>
            </div>

            <!-- Button right under the "Did You Know?" section -->
            <div class="text-center mt-3">
                <a class="btn btn-warning btn-lg" href="meme.html" role="button">
                    <i class="fas fa-exclamation-triangle"></i> Click Here to Know More... If You Dare!
                </a>
            </div>

        </div>
    </div>

